/src
/coverage
/.husky

/rollup.config.js
/tsconfig.json
/jest.config.ts
/commitlint.config.cjs
/.gitignore
/.eslintignore
/.eslintcache
/.eslintrc.cjs
/.editorconfig
/.prettierrc.cjs
/.prettierignore
/yarn-error.log
/.vscode
/.github

/LICENSE
